* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.main_page {
    text-align: center;
}

.board_wrap {
    max-width: 1000px;
    margin: 100px auto;
}

.board_wrap strong {
    font-size: 3rem;
    display: block;
    margin-bottom: 30px;
}

.board_link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.board_link p {
    display: inline-block;
    font-size: 15px;
}

.board_link img {
    width: 15px;
}

.board_main {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.board_main1,
.board_main2 {
    flex: 1;
    margin: 0 10px;
    margin-bottom: 20px;
}

.main_page_main {
    width: 100%;
    height: auto;
}

.main_page_title {
    padding-right: 10px;
    padding-top: 20px;
    text-align: center;
}

.main_page_title p {
    padding-right: 10px;
    font-size: 2.5rem;
}

.main_page_title strong {
    font-size: 5rem;
}

.board_wrap3 {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    margin-bottom: 50px;
}

.board_title3 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.board_title3 strong {
    font-size: 4rem;
}

.board_title3 p {
    font-size: 1.5rem;
}

.board_main strong {
    font-size: 3rem;
    margin-left: 10px;
}

.board_main p {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 10px;
}

.notice {
    margin-bottom: 100px;
}

.notice_item {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: 120px;
    padding-top: 40px;
    font-size: 2.5rem;
    font-weight: 800;
    background-color: #ffffff;
    color: #000;
    border: 3px solid;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.notice_item:hover {
    background-color: #E2E2E2;
}

ul.pagination.justify-content-center {
    margin: 20px;
}

input#search_kw {
    width: calc(100% - 20px);
    height: 45px;
    border-radius: 5px;
    padding: 10px;
}

button#btn_search {
    border: none;
    width: calc(100% - 20px);
    height: 45px;
    color: white;
    background: #9ca6ac;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.board_list {
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 1.4rem;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
}

.board_list .title1 {
    width: 100%;
    text-align: left;
    margin-left: 10%;
}

.board_list .writer1,
.board_list .date1 {
    width: 100%;
}

.main-img-box {
    border: 0px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    text-align: center;
}

.main-img {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .board_wrap {
        margin: 50px auto;
    }

    .board_link {
        padding-left: 20px;
        padding-right: 20px;
    }

    .board_main1,
    .board_main2 {
        flex: 1;
        margin: 0;
    }

    .main_page_title {
        padding-right: 10px;
        padding-top: 20px;
        text-align: center;
    }

    .board_wrap3 {
        margin: 20px auto;
    }

    .notice_item {
        width: 100%;
        max-width: none;
    }

    ul.pagination.justify-content-center {
        margin: 10px;
    }

    input#search_kw,
    button#btn_search {
        width: calc(100% - 20px);
    }

    .board_list .title1,
    .board_list .writer1,
    .board_list .date1 {
        width: 100%;
        text-align: center;
    }
}
